<%=form_tag seleccion_path do %>
  <%=select_tag "brand", options_from_collection_for_select(@marcas, "brand", "brand"), {include_blank: false}%>
  <%#=select_tag "impresoras", options_from_collection_for_select(@impresoras, "brand" + "-" + " impresoras", "impresoras")%>
  <%=select_tag "impresoras", options_from_collection_for_select(@impresoras, "brand_model", "model"), {include_blank: false}%>
  <%=submit_tag 'filtrar'%>
<% end %>

<div class="cintilla_cartuchos">Cartuchos</div>
<table class="tabla_lista_articulos">
  <tr>
    <th>Marca</th>
    <th>Modelo</th>
    <th>Precio</th>
    <th>Cantidad</th>
    <th>Total</th>
    <th></th>
  </tr>
  <% @cartuchos.each do |cartucho| %>
    <tr>
      <td><%=cartucho.brand%></td>
      <td><%=cartucho.clave%></td>
      <td><%= number_to_currency(cartucho.price) %></td>
      <%= form_tag(line_items_path, remote: true) do %>
        <td><%= text_field_tag 'quantity'%></td>
        <td><%= text_field_tag 'total' %></td> <!-- el id es 'total' -->  
        <td><%= hidden_field_tag 'cartucho_id', cartucho.id%> <%= submit_tag 'Agregar a Pedido'%></td>
      <%end%>
    </tr>
  <% end %>
</table>
<%= will_paginate(@cartuchos) %>
<br>
<!-- <div class="cartuchos_marcas">
  <img src="/Imagenes/fondos/HP.jpg"> 
  <img src="/Imagenes/fondos/brother.jpg">
  <img src="/Imagenes/fondos/samsung.jpg">
</div> --> 

<%#= link_to 'New Cartucho', new_cartucho_path %>
