<h1>Listing cartuchos</h1>

<table>
  <tr>
    <th>Marca</th>
    <th>Modelo</th>
    <th>Precio</th>
    <th>Quantidad</th>
    <th>Total</th>
    <th></th>
  </tr>
  <% @cartuchos.each do |cartucho| %>
    <tr>
      <td><%=cartucho.brand%></td>
      <td><%=cartucho.model%></td>
      <td><%=cartucho.price%></td>
      <%= form_tag(line_items_path, remote: true) do %>
        <td><%= text_field_tag 'quantity'%></td>
        <td><%= text_field_tag 'total' %></td> <!-- el id es 'total' -->  
        <td><%= hidden_field_tag 'cartucho_id', cartucho.id%> <%= submit_tag 'Agregar a Pedido'%></td>
      <%end%>
    </tr>
  <% end %>

</table>

<br>

<%#= link_to 'New Cartucho', new_cartucho_path %>
