<div class="cintilla_cartuchos">Cartuchos</div>
<table class="tabla_lista_articulos">
  <tr>
    <th>Marca</th>
    <th>Modelo</th>
    <th>Impresora</th>
    <th>Precio</th>
    <th></th>
    <th></th>
  </tr>
  <%unless @cartuchos.nil?
   @cartuchos.each do |cartucho| %>
    <tr>
      <td><%=cartucho.brand%></td>
      <td><%=cartucho.clave%></td>
      <td><%=cartucho.impresoras%></td>
      <td><%= number_to_currency(cartucho.price) %></td>
      <td colspan = '3'> <!-- line_items_path -->
        <%= button_to "Agregar", add_cartucho_path(cartucho.id), method: :post %>
      </td>
    </tr>
  <% end end%>
</table>
<% unless @cartuchos.nil?%>
  <%= will_paginate(@cartuchos) %>
<% end%>

<br>