<div class="cartuchos">

    <p id="notice"><%= notice %></p>

    <p>
      <strong>Title:</strong>
      <%= @cartucho.title %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @cartucho.description %>
    </p>

    <p>
      <strong>Image url:</strong>
      <%= @cartucho.image_url %>
    </p>

    <p>
      <strong>Price:</strong>
      <%= @cartucho.price %>
    </p>

    <p>
      <strong>Brand:</strong>
      <%= @cartucho.brand %>
    </p>

    <p>
      <strong>Model:</strong>
      <%= @cartucho.model %>
    </p>

    <p>
      <strong>Color:</strong>
      <%= @cartucho.color %>
    </p>

    <%#= link_to 'Edit', edit_cartucho_path(@cartucho) %> |
    <%#= link_to 'Back', cartuchos_path %>

</div>