<div class="cintilla_cartuchos">Cartuchos Originales</div>	
<div class="somos">
   <!--Desplegar los logos de todas las marcas (HP, Xerox, Epson, Samsung, Brother, Lexmark, Canon,  Kyocera, Dell, etc) Te voy a dar dos o tres modelos de cartuchos que estén en “oferta”  +  buscador de cartuchos
	-->
<p>
	Para cotización o información de cartuchos originales, impresoras, laptops, memorias, y gadgets en general llámenos o mande correo a <a href="mailto:informacion@cwmex.com.mx">informacion@cwmex.com.mx</a>
</p>
	<ul class="logos">
          <li><img src="<%=image_path("fondos/brother.jpg")%>"></li>
          <li><img src="<%=image_path("fondos/canon.jpg")%>"></li>
          <li><img src="<%=image_path("fondos/epson.png")%>"></li>
          <li><img src="<%=image_path("fondos/kyocera.gif")%>"></li>
          <li><img src="<%=image_path("fondos/lexmark.png")%>"></li>	
          <li><img src="<%=image_path("fondos/samsung.jpg")%>"></li>			
          <li><img src="<%=image_path("fondos/HP.jpg")%>"></li>			
          <li><img src="<%=image_path("fondos/dell.png")%>"></li>		
          <li><img src="<%=image_path("fondos/xerox.jpg")%>"></li>					
	</ul>														
</div>
	



