<div class="cintilla_contactos">Contactanos?</div> 
<%= form_tag presupuesto_sender_path do  %>

  <%#= link_to contacto_path %>
  <!--
  <%# if @contactanos.errors.any? %>
    <div id="error_explanation">
      <h2><%#= pluralize(@contactanos.errors.count, "error") %> prohibited this contactanos from being saved:</h2>

      <ul>
      <%# @contactanos.errors.full_messages.each do |message| %>
        <li><%#= message %></li>
      <%# end %>
      </ul>
    </div>
  <%# end %>
  -->
  <div class="datos_contacto">
    <p><%= label_tag "name", "Nombre:" %><br>
    <%= text_field_tag "name","" ,  required: true %></p>
    <p><%= label_tag  "email", "E-mail:" %><br>
    <%= text_field_tag "email","" , required: true, pattern: "^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+([\.][a-zA-Z0-9-]{2,3}){1,2}$", title: "Ingrese un formato válido Micorreo@tupagina.com"  %></p>
    <p><%= label_tag  "contactanos", "Teléfono:"  %><br>
    <%= text_field_tag "contactanos","" , required: true %></p>
  </div>

   


  <div class="datos_mensaje">
    <%= label_tag  "mensaje", "Pedido:"  %><br>
    <%= text_area_tag "mensaje",@body_line ,%>
  </div>  

  <div class="contact_actions">
      <%= submit_tag "Enviar" %>
  </div>

<% end %>