<!-- se puso en la vista para no restructurar todo-->
<%@brand = Brand.all.distinct%>
<%@printer = Printer.all.distinct%>
<div class="side">
	<span class="logo"><%= link_to image_tag("Inicio/logo.jpg"), store_path, class: "menu1" %></span>
    <p class="titulorosa">Información</br><span class="tituloazul">DF: 5572 3254</br>Qro: 4430 1039</span></p>
    <a href="mailto:informacion@cwmex.com.mx" class="correo"> informacion@cwmex.com.mx </a> 
    <p> <span class="tituloazul2">Servicio de domicilio</span></br>
    <span class="titulorosa3"> sin costo</span><span class="tituloazul3"> en Queretaro, </br>DF y area metropolitana </span></p>
    <p class="tituloverdetext"> Buscar cartucho </p>
    <div class="buscador_productos">
        <%= form_tag search_path do %>
        <%= label_tag 'Modelo'%>
        <%= text_field_tag 'model_c' %>
        <%= label_tag 'Marca'%>
        <%= select_tag('brand', options_from_collection_for_select(@brand, 'name', 'name'), :prompt => "Buscar por Marca")%>
        <%= label_tag 'Modelo De Impresora'%>
        <%= select_tag('model_i', options_from_collection_for_select(@printer, 'model', 'model'), :prompt => "Buscar por Modelo")%>
        <%#= text_field_tag 'model_i' %>
        <%= submit_tag "buscar" %>
        <% end %> 
    </div>
    <!--
    <p class="titulorosatext"> Buscar impresoras </p>
    <%#= form_tag search2_path do %>
        <%#= text_field_tag 'brand' %>
        <%#= text_field_tag 'model' %> 
        <%#= submit_tag "buscar" %>
    <%# end %> 
    -->
    <span class ="imagen2"><img src="<%=image_path("Inicio/imagen2.jpg")%>"></span>
    <span class ="imagen3"><img src="<%=image_path("Inicio/imagen3.jpg")%>"></span>
</div>	
