  <title>Toner</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  	<div class="principal"> 
		<div class="izq_contenido"><%= render partial: "layouts/side" %></div>
		<div class="der_contenido">
			<div class="banner"><%= render partial: "layouts/menu" %></div>
			<div class="contenido">
				<% if notice %>
					<p id="notice"><%= notice %></p>
				<% end %>
				<%= render partial: "layouts/content" %></div>
				<%= render partial: "layouts/imgs" %>
	</div>
		<div class="footer"></div>	
   	</div>
		<div id="main">
			<%= yield %>
		</div>
