<title>Toner</title>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>
<div class="principal"> 
  <div class="izq_contenido"><%= render partial: "layouts/side" %></div>
  <div class="der_contenido">
    <div class="banner" >
      <div class="carrito">
          <%= link_to('Carrito(' + @cart.line_items.count.to_s + ')', cart_path(@cart)) %>
      </div>
      <a href="http://www.facebook.com"><img class="face" src="<%=image_path("Inicio/facebook.jpg")%>"></a>
      <a href="http://www.twitter.com"><img class="twiter" src="<%=image_path("Inicio/twitter.jpg")%>"></a>
      <a href="http://www.linkedin.com"><img class="link" src="<%=image_path("Inicio/linkedin.jpg")%>"></a>
    </div>
    <div class="menu"><%= render partial: "layouts/menu" %></div>
    <div class="contenido">
      <% if notice %>
        <div id="notice" data-alert class="alert-box">
          <%= notice %>
          <a href="javascript:location.reload()" class="close">&times;</a>
        </div>
      <% end %>

      <%= yield %>
    </div>
  </div>
  <div class="footer"><%= render partial: "layouts/footer" %></div>
</div>
