  <title>Toner</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  	<div class="principal"> 
		<div class="izq_contenido"><%= render partial: "layouts/side" %></div>
		<div class="der_contenido">
			<div >
				<img class="banner" src="/Imagenes/Inicio/tonerdepotbaner.jpg">
				<img class="link" src="/Imagenes/Inicio/linkedin.jpg">
				<img class="face" src="/Imagenes/Inicio/facebook.jpg">
				<img class="twiter" src="/Imagenes/Inicio/twitter.jpg">
			</div>
			<div class="menu"><%= render partial: "layouts/menu" %></div>
			<div class="contenido">
				<% if notice %>
					<p id="notice"><%= notice %></p>
				<% end %>
				<%= yield %>
			</div>
		</div>
		<div class="footer"><%= render partial: "layouts/footer" %></div>
	</div>
